<navigation></navigation>

<div class="container-fluid">
    <h1>All Video Versions</h1>

    <div ng-if="vm.fileLock">
        <div ng-if="vm.username === vm.fileLockUser">
            <button class="btn btn-dark" ng-click="vm.unlockFile()">Unlock File</button>
            <button class="btn btn-danger" ng-click="vm.deleteVideo()">Delete Video</button>
        </div>
        <label>File is locked for editing by: {{ vm.fileLockUser }}</label>
    </div>
    
    <div ng-if="!vm.fileLock">
        <button class="btn btn-dark" ng-click="vm.lockFile()">Lock File For Editing</button>
    </div>
            
    <div class="row justify-content-center col-md-12" ng-repeat="video in vm.videos.videoData">
        <table class="table table-dark table-striped col-md-10">
            <tbody>
                <tr>
                    <td>
                        Filename:
                    </td>
                    <td>
                        {{ video.videoFileName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Length:
                    </td>
                    <td>
                        {{ video.videoLength }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Frame Width  
                    </td>
                    <td>
                        {{ video.videoFrameWidth }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Frame Height  
                    </td>
                    <td>
                        {{ video.videoFrameHeight }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Data Rate  
                    </td>
                    <td>
                        {{ video.videoDataRate }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Bit Rate  
                    </td>
                    <td>
                        {{ video.videoTotalBitRate }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Frame Rate 
                    </td>
                    <td>
                        {{ video.videoFrameRate }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Encoding Type  
                    </td>
                    <td>
                        {{ video.videoEncodingType }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Audio Bit Rate  
                    </td>
                    <td>
                        {{ video.videoAudioBitRate }}
                    </td>
                </tr>        
                <tr>
                    <td>
                        Audio Sample Rate  
                    </td>
                    <td>
                        {{ video.videoAudioSampleRate }}
                    </td>
                </tr>
                <tr>
                    <td>
                        File Size 
                    </td>
                    <td>
                        {{ video.videoSize }}
                    </td>
                </tr>
                <tr>
                    <td>
                        File Version  
                    </td>
                    <td>
                        {{ video.versionID }}
                    </td>
                </tr>
                <tr>
                    <td>
                        File Author
                    </td>
                    <td>
                        {{ video.videoAuthor }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Keywords
                    </td>
                    <td>
                        {{ video.videoKeywords }}
                    </td>
                </tr>
                <tr>
                    <td>
                        File Creation Date
                    </td>
                    <td>
                            {{ video.videoCreationDate | date:'dd/MM/yyyy HH:mm:ss' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>