<navigation></navigation>

<h1>Search Videos</h1>

<div class="container-fluid">

    <form>
        <div class="form-group">
            <label for="videoFileName">Filename:</label>
            <input id="videoFileName" type="text" ng-model="vm.videoFileName" class="form-control">
        </div>
        <div class="form-group">
            <label for="videoEncodingType">Filename:</label>
            <input id="videoEncodingType" type="text" ng-model="vm.videoEncodingType" class="form-control">
        </div>
        <div class="form-group">
            <label for="videoAuthor">Filename:</label>
            <input id="videoAuthor" type="text" ng-model="vm.videoAuthor" class="form-control">
        </div>
        <div class="form-group">
            <label for="videoKeywords">Filename:</label>
            <input id="videoKeywords" type="text" ng-model="vm.videoKeywords" class="form-control">
        </div>
        <button type="submit">Search</button>
    </form>

</div>