doctype html
html(ng-app='AAFApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content


script(src='/public/angular/angular.min.js')
script(src='/public/angular/AAFApp.js')
script(src='/public/bootstrap/js/bootstrap.min.js')